{{ 'custom-product-card.css' | asset_url | stylesheet_tag }}
{% assign card_product = product.selected_or_first_available_variant %}
{% if product.featured_image != blank %}
  {% assign varient_featured_image = product.featured_image %}
{% else %}
  {% assign varient_featured_image = product.featured_image %}
{% endif %}

<marmeto-product-card class="custom-tutorial-product-card center ">
  <div class="custom-tutorial-product-card-image-wrapper isolate">
    {% render 'responsive-picture', desktopImage: varient_featured_image, size: small %}
    {% for tag in product.tags %}
      {% if tag contains 'badge-' %}
        {% assign badge_text = tag | split: 'badge-' %}
        <span class="badge"> {{ badge_text }} </span>
      {% endif %}
    {% endfor %}
  </div>
  <div class="custom-tutorial-product-card-info">
    <div>
      {% for option in product.options_with_values %}
        {% if option.name == 'color' or option.name == 'Color' %}
          {% for value in option.values %}
            <input type="radio" value="{{ value }}" name="{{ option.name }}">
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    <div>
      {{ product.vendor }}
    </div>
    <div>
      {{ card_product.title }}
    </div>
    <div>
      <span class="money on-sale">{{ card_product.compare_at_price | money_with_currency }}</span>
      <span class="money ">{{ card_product.price | money_with_currency }}</span>
    </div>
    <div
      class=""
    >
      {{ card_product.inventory_quantity }}
    </div>
  </div>
</marmeto-product-card>
