{{ 'collection-with-tab-switching.css' | asset_url | stylesheet_tag }}
{% style %}
  .shop-by-concern--{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }
  @media screen and (max-width: 749px) {
    .shop-by-concern--{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }
{% endstyle %}

<div class="shop-by-concern shop-by-concern--{{ section.id }}"></div>

{% schema %}
{
  "name": "Shop by concern",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type": "header",
        "content": "Section padding"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Slider",
      "type": "product_collections",
      "settings": [
        {
          "type": "header",
          "content": "Select Collection"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        }
      ]
  }
  ],
  "presets": [
    {
      "name": "Shop by concern"
    }
  ]
}
{% endschema %}
